.switch-button {
    background-color: #ad478b;
    color: white; 
    padding: 15px 32px; 
    text-align: center;
    font-size: 16px;  
    margin-right: none;
    cursor: pointer; 
    border-radius: 10px; 
    border: none; 
}
.switch-button:hover {
    background-color: #5f1a54; 
}

.switch-button:active {
    transform: translateY(2px);
}


