.floor {
    height: 11vh;
    font-family: Arial, sans-serif;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 30px;
    margin-bottom: 12vh;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    width: 50%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
  }
  body{
    width:90%;
    height: 100vh;
    background-color: #1b73a5;
    background-image: url(../components/pattern3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .floor-on{
    background-color: #b8cbff;
    /* background-image: url('../components/pattern.png'); */
  }
  .floor-off{
    background-color: #3d4a6e;
    /* background-image: url('../components/pattern2.avif'); */
  }
  .response-message {
    padding-top: 10px;
    font-style: italic;
    color: #666;
  }
  @media (max-width: 768px) {
    .floor {
      height: auto; 
      padding: 15px; 
      margin: 20px; 
      font-size: 14px; 
    }
  
    /* Adjust button size if needed */
    .floor button {
      padding: 8px 12px; /* Reduced button padding */
      font-size: 14px; /* Smaller button text */
    }
  
    .floor h2 {
      font-size: 18px; /* Smaller font size for headings */
    }
  }
  
  @media (max-width: 480px) {
    .floor {
      padding: 10px; 
      margin: 10px; 
      font-size: 12px; 
    }
  
    .floor button {
      padding: 6px 10px; 
      font-size: 12px; 
    }
  
    .floor h2 {
      font-size: 16px; 
    }
  }